body{
  background-color: dodgerblue;
  color: black;
  background-image: url("https://marketplace.canva.com/EAEK4dC2olw/1/0/1600w/canva-arco%C3%ADris-gradiente-rosa-y-naranja-fondo-virtual-para-zoom-c3PYha1JI9M.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background:
}

h1{
  text-align: center;
  background-color: dodgerblue;

}